OPENAI_API_KEY=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
ELEVEN_LABS_API_KEY=sk_367375957f9f9a888c2c3869b93778dc22b88098bb4872e3